$bg_color: #FBF6F6;
$font_color: #504949;

@font-face {
    font-family: Cormorant;
    src: url(../fonts/Cormorant-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Cormorant;
    src: url(../fonts/Cormorant-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Cormorant;
    src: url(../fonts/Cormorant-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Cormorant;
    src: url(../fonts/Cormorant-SemiBold.ttf);
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: flex;
    gap: 8px;
}

.li {
    &_modific {
        text-decoration: line-through;
    }
}

body {
    font-family: Cormorant;
    color: $font_color;
    font-size: 18px;
    font-weight: 400;
}

.container {
    max-width: 1170px;
    margin: 0 auto;

    @media (max-width: 1025px) {
        padding: 0 20px;
    }

    @media (max-width: 376px) {
        max-width: unset;
        padding: 0 37px;
    }
}

.header {
    padding: 20px 0;

    @media (max-width: 376px) {
        padding: 50px 0;
    }

    &__burger {
        display: none;

        @media (max-width: 376px) {
            display: block;
        }
    }

    &__menu {
        display: flex;
        gap: 40px;

        @media (max-width: 376px) {
            display: none;
        }
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
    }

    &__link {
        font-weight: 400;

        &:hover {
            font-weight: 700;
        }
    }
}

.main {
    background-color: $bg_color;
    padding: 77px 0 122px 0;

    @media (max-width: 1025px) {
        padding-bottom: 40px;
    }

    @media (max-width: 376px) {
        padding: 10px 0;
    }

    &__text {
        margin-bottom: 20px;

        &_bold {
            font-weight: 700;
            margin-left: 107px;
            margin-bottom: 0;

            @media (max-width: 376px) {
                margin-left: 0;
                margin-bottom: 4px;
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 80px;

        @media (max-width: 1025px) {
            margin-bottom: 20px;
            margin-top: 5px;
            font-size: 62px;
        }

        @media (max-width: 376px) {
            font-size: 40px;
            margin-bottom: 10px;
        }
    }

    &__box {
        display: flex;
        gap: 79px;
    }

    &__info {
        display: flex;
        gap: 40px;
        margin-bottom: 38px;

        @media (max-width: 376px) {
            flex-wrap: wrap;
            gap: 0;
            row-gap: 4px;
            column-gap: 38px;
            margin-bottom: 45px;
        }
    }

    &__dig {
        font-size: 50px;
    }

    &__photo {
        @media (max-width: 1025px) {
            width: 50%;
            flex-shrink: 0;

            img {
                width: 100%;
            }
        }

        @media (max-width: 376px) {
            display: none;
        }

        &-mobile {
            display: none;

            & img {
                width: 100%;
            }

            @media (max-width: 376px) {
                display: block;
                width: 338px;
                margin-bottom: 35px;
                margin-right: -37px;
            }

            & img {
                width: 100%;
            }
        }
    }

    &__subtitle {
        font-size: 40px;
        font-weight: 700;
        max-width: 517px;
        margin-bottom: 17px;

        @media (max-width: 376px) {
            font-size: 30px;
            margin-bottom: 24px;
            max-width: 249px;
        }
    }

    &__item {
        max-width: 419px;
        margin-bottom: 10px;

        @media (max-width: 376px) {
            max-width: 249px;
        }

        &_first {
            display: flex;
            gap: 23px;
            align-items: flex-end;

            &::before {
                content: "1";
                font-size: 50px;
                line-height: 1;

                @media (max-width: 376px) {
                    margin-top: -10px;
                }
            }

            @media (max-width: 376px) {
                align-items: flex-start;
            }
        }

        &_second {
            display: flex;
            gap: 23px;
            align-items: flex-end;

            &::before {
                content: "2";
                font-size: 50px;
                line-height: 1;

                @media (max-width: 376px) {
                    margin-top: -10px;
                }
            }

            @media (max-width: 376px) {
                align-items: flex-start;
            }
        }

        &_third {
            display: flex;
            gap: 23px;
            align-items: flex-end;

            &::before {
                content: "3";
                font-size: 50px;
                line-height: 1;

                @media (max-width: 376px) {
                    margin-top: -10px;
                }
            }

            @media (max-width: 376px) {
                align-items: flex-start;
            }
        }

        &_fourth {
            display: flex;
            gap: 23px;
            align-items: flex-end;

            &::before {
                content: "4";
                font-size: 50px;
                line-height: 1;

                @media (max-width: 376px) {
                    margin-top: -10px;
                }
            }

            @media (max-width: 376px) {
                align-items: flex-start;
            }
        }
    }
}

.programm {
    background-color: #B59797;
    padding-top: 125px;
    padding-bottom: 160px;

    @media (max-width: 1025px) {
        padding-top: 80px;
        padding-bottom: 120px;
    }

    @media (max-width: 376px) {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    &__title {
        font-size: 50px;
        color: #fff;
        margin-bottom: 18px;

        @media (max-width: 1025px) {
            font-size: 62px;
        }

        @media (max-width: 376px) {
            font-size: 40px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;

    }

    &__item {
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 18px 0;

        p:first-child {
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        p:last-child {
            margin-right: 5px;
            font-size: 30px;
        }
    }
}

.tariffs {
    background-color: #B59797;

    &__wrap {
        max-width: 1380px;
        background-color: $bg_color;
        margin-left: 60px;

        @media (max-width: 1025px) {
            margin-left: 10px;
        }

        @media (max-width: 376px) {
            margin-left: 10px;
        }

    }

    &__block {
        margin-left: 70px;
        padding-top: 110px;

        @media (max-width: 1025px) {
            margin-left: 5px;
            padding-top: 60px;
        }

        @media (max-width: 376px) {
            margin-left: 5px;
            padding-top: 60px;
        }

    }

    &__title {
        font-size: 50px;
        font-weight: 600;

        @media (max-width: 1025px) {
            font-size: 50px;
            font-weight: 700;
        }

        @media (max-width: 376px) {
            font-size: 30px;
            font-weight: 700;
        }

    }

    &__card {
        max-width: 560px;
        background-color: #B59797;
        color: #fff;
        padding-left: 30px;
        padding-top: 35px;

        @media (max-width:1025px) {
            max-width: 450px;
        }

        @media (max-width:376px) {
            max-width: 320px;
        }

        &-block {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            @media (max-width: 376px) {
                display: flex;
                flex-direction: column;
            }

        }

        &__title {
            margin-bottom: 10px;
        }

        &__list {
            padding-right: 80px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &__price {
            margin-top: 15px;
            margin-bottom: 50px;
        }

        &__btn {
            background-color: #FBF5F5;
            border: 2px solid #8D6B5D;
            color: #504949;
            font-size: 18px;
            font-weight: 700;
            padding: 15px 80px;
            margin-top: 25px;
            text-align: center;
            width: 245px;
            height: 55px;
            position: relative;
            left: 250px;
            bottom: 50px;

            @media (max-width: 1025px) {
                position: relative;
                left: 150px;
            }

            @media (max-width: 376px) {
                position: relative;
                left: 30px;
            }

        }

        &-position {
            display: flex;
            flex-direction: column;
        }
    }
}

.before {
    background-color: #B59797;

    &__wrap {
        max-width: 1380px;
        background-color: $bg_color;
        margin-left: 60px;
        padding-left: 80px;

        @media (max-width: 1025px) {
            margin-left: 10px;
            padding-left: 30px;
        }

        @media (max-width: 376px) {
            margin-left: 10px;
            padding-left: 30px;
        }

    }

    &__credit {
        margin-bottom: 90px;

        @media (max-width: 376px) {
            max-width: 320px;
            margin-bottom: 60px;
        }

        a {
            text-decoration: underline;
            color: #504949;
            font-weight: 700;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 130px;

        @media (max-width: 1025px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: 0;
            align-items: center;
        }

        @media (max-width: 376px) {
            display: flex;
            flex-direction: column;
            margin-right: 0;
        }

    }

    &__cart {
        max-width: 660px;
        margin-bottom: 30px;

        @media (max-width: 376px) {
            margin-left: 0px;
            max-width: 355px;
        }

        &__title {
            @media (max-width: 1025px) {
                margin-bottom: 20px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {
        max-width: 419px;
        margin-bottom: 10px;

        @media (max-width: 376px) {
            max-width: 305px;
        }
    }

    &__result {
        text-decoration: underline;
        font-weight: 700;
        font-size: 18px;
        color: #504949;
        margin-bottom: 150px;

        @media (max-width: 1025px) {
            display: none;
        }

        @media (max-width: 376px) {
            margin-bottom: 40px;
        }

    }
}

.mobile__photo {
    display: none;

    & img {
        width: 100%;
    }

    @media (max-width: 1025px) {
        display: block;
        width: 339px;
        margin-bottom: 60px;
    }

    @media (max-width: 376px) {
        display: block;
        width: 339px;
        margin-bottom: 60px;
    }

}

.more {
    background-color: #B59797;

    &__block {
        display: flex;

        @media (max-width:376px) {
            flex-direction: column;
        }
    }

    &__photo {
        position: relative;
        bottom: 500px;
        right: 100px;
        margin-bottom: -400px;

        @media (max-width: 1025px) {
            display: none;
        }

        @media (max-width: 376px) {
            display: none;
        }

    }

    &__btns {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 160px;

        @media (max-width:1025px) {
            margin-top: 80px;
            margin-bottom: 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @media (max-width:376px) {
            flex-direction: column;
            margin-top: 80px;
            margin-bottom: 80px;
        }

    }

    &__btn {
        border-color: #ECE2DF;
        font-size: 20px;
        color: #504949;
        display: flex;
        align-items: center;

        p {
            padding: 40px 160px 40px 94px;

            @media (max-width: 1025px) {
                padding: 40px 110px 40px 30px;
                margin-right: 0;
                margin-left: 75px;
            }

            @media (max-width: 376px) {
                padding: 40px 10px 40px 30px;
                margin-right: 0;
                margin-left: 0;
            }

        }

        img {
            padding-right: 40px;

            @media (max-width: 1025px) {
                padding-right: 30px;
            }

            @media (max-width: 376px) {
                padding-right: 30px;
            }

        }

        &_2 {
            p {
                padding-right: 175px;

                @media (max-width: 1025px) {
                    padding-right: 130px;
                }

                @media (max-width: 376px) {
                    padding-right: 15px;
                }

            }
        }
    }
}

.footer {
    background-color: #3C2A2A;

    &__info {
        display: flex;
        justify-content: space-between;
        color: #FBF6F6;
        padding-top: 100px;
        padding-bottom: 140px;

        @media (max-width: 376px) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        a {
            color: #FBF6F6;
            text-decoration: underline;
        }
    }

    &__name {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__soc {
            display: flex;
            gap: 15px;
        }

        @media (max-width: 376px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__home {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @media (max-width: 376px) {
            align-items: center;
        }
    }

    &__polit {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;

        @media (max-width: 376px) {
            align-items: center;
        }
    }
}